<!--<div class="container">-->
<!--  <div class="upload-container">-->
<!--    <form>-->
<!--      <input type="file" name="file" id="file" accept="application/pdf">-->
<!--      <label for="file">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="50px" height="50px"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 4v16h16V4H4zm16-2c1.1 0 2 .9 2 2v16c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h16zm-5 9H9v2h6v-2zm0-4H9v2h6V7zm-3 8h-3v2h3v-2z"/></svg>-->
<!--        <p>Insérer un document</p>-->
<!--      </label>-->
<!--      <button style="">Go</button>-->
<!--    </form>-->
<!--    <div class="bubbles">-->
<!--      <div class="bubble"></div>-->
<!--      <div class="bubble"></div>-->
<!--      <div class="bubble"></div>-->
<!--      <div class="bubble"></div>-->
<!--      <div class="bubble"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-pdf-upload></app-pdf-upload>

<router-outlet />
